# Third Party Licenses
This page lists the licenses of the projects used in CookyCardz Desktop.

## Overview of Licenses
{{#each overview}}
- [{{name}}](#{{id}}) ({{count}})
{{/each}}

## All License Texts
{{#each licenses}}
<a id="{{id}}"></a>
### {{name}}
#### Used by:
{{#each used_by}}
- [{{crate.name}} {{crate.version}}]({{#if crate.repository}} {{crate.repository}} {{else}} https://crates.io/crates/{{crate.name}} {{/if}})
{{/each}}
```
{{text}}
```
{{/each}}
